<!-- delete-developer.component.html -->

<div class="overlay">
  <div class="center">
    <div class="text-center py-3">
      <h1 class="dev-list">Delete Developer</h1>
    </div>
    <div class="grid-container">
      <p>Are you sure you want to delete this developer?</p>
      <div class="button-container">
        <button class="rounded-outline-blue" (click)="cancelDelete()">Cancel</button>
        <button class="rounded-outline-red" (click)="confirmDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
