<!-- dashboard.component.html -->

<nav class="navbar text-center">
  <a class="link li-right">Manage Developers</a>
</nav>

<div class="container mt-4">
  <p class="dev-list d-flex mt-4 pb-4">Developers List
    &nbsp; &nbsp; <button class="addDeveloper" (click)="showForm()">+</button>
  </p>

  <form (ngSubmit)="searchDevelopers()">
    <input type="text" [(ngModel)]="searchTerm" (keyup.enter)="searchDevelopers()" placeholder="Search developers" class="form-control mb-4">
  </form>


  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Skills</th>
          <th>Experience</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let developer of filteredDevelopers">
          <td>{{ developer.name }}</td>
          <td>{{ developer.surname }}</td>
          <td>
            <ul>
              <li *ngFor="let skill of developer.skills">{{ skill }}</li>
            </ul>
          </td>
          <td>{{ developer.experience }}</td>
          <td>
            <a [routerLink]="['/edit', developer.personId]" class="button button-green">Edit</a>
            <button class="button button-red mx-3" (click)="deleteDeveloper(developer.personId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
