body{

}
.navbar{
  padding: 50px;
  border-bottom: 1px solid red;
  background-color: whitesmoke;

}

.link{
  margin-left:45%;
  font-size: 25px;
  text-decoration: none;
  color: green;
}
.dev-list{
  font-size: 28px;
}
.addDeveloper {
  width: 60px;
  height: 60px;
  color: green;
  background-color: white;
  border: none;
  border-radius: 50%; /* To make it circular */
  font-size: 44px;
  margin: -20px;/* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* styles.scss or styles.css */

.button.button-green {
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button.button-green:hover {
  background-color: #218838;
}
